.contact {
  .form-container {
    width: 80%;
  }

  input,
  textarea {
    padding: 8px;
    height: 37px;
    width: 100%;
    background-color: color-mix(in srgb, var(--dark-light) 25%, transparent);
    color: var(--light);
    border: none;
  }

  textarea,
  input:focus {
    outline: none;
  }

  label {
    margin-bottom: 10px;
  }
}
