.contact input,
.contact textarea {
  padding: 8px;
  background-color: color-mix(in srgb, var(--dark-light) 25%, transparent);
  color: var(--light);
  border: none;
}

.contact textarea,
.contact input:focus {
  outline: none;
}

.contact label {
  margin-bottom: 10px;
}
