.app {
  margin: 75px;
  width: 60%;
}

.section-title {
  margin-top: 64px;
  margin-bottom: 42px;
  font-family: "Anton";
  text-transform: uppercase;
  letter-spacing: 1.7px;
  color: var(--primary);
}
