.app {
  margin: 75px;
  width: 60%;
}

.section {
  margin-bottom: 124px;
}

.section-title {
  margin-bottom: 42px;
  font-family: "Bebas Neue";
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  color: var(--primary);
}
