@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--background);
  background-attachment: fixed;
  color: var(--dark-light);
  font-family: "Poppins", sans-serif;

  #root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}

:root {
  --background: #15191f;
  --dark: #15191f;
  --dark-soft: #222831;
  --dark-light: #393e46;
  // --primary: #ff6f00;
  // --primary: #f54733;
  --primary: #f55753;
  --secondary: #f57733;
  --light: #eeeeee;
}
