@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Poppins", sans-serif;

  #root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}

:root {
  --dark: #222831;
  --dark-light: #393e46;
  --primary: #fd7014;
  --light: #eeeeee;
}
