@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", "Babas Neue" sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px theme("colors.white") inset;
    -webkit-text-fill-color: theme("colors.gray.900");
  }
}

@theme {
  --color-dark: #393e46;
  --color-primary: #ff6b66;
  --color-secondary: #5bb8b8;
  --color-light: #faf8f3;
}
